/*
    ' ' - descendant selector
    '>' - child selector
    '+' - adjacent sibling selector
 */

.studentsTable {
    border-collapse: collapse;
}

.studentsTable td,
.studentsTable th {
    border: 1px solid black;
    padding: 1rem;
}

.studentsTable th {
    background-color: #666;
    color: #ddd;
}

.studentsTable th.Interactive {
    cursor: pointer;
}
.studentsTable th.Interactive:hover {
    background-color: #777;
}

.studentsTable + .studentsTable {
    margin-top: 1rem;
}

.calculate-age {
    padding: 1rem;
    margin-bottom: 1rem;
}
